*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target

# Ignore private and public keys
*id_rsa*
*key_vagrant

# ignore Idea/intelliJ files
*.idea
*.iml

/src-wsimport/src/main/resources/ws.properties

.project
.settings/
src-wsimport/.classpath
src-wsimport/.project
src-wsimport/.settings/
svc-wsimport/.classpath
svc-wsimport/.project
svc-wsimport/.settings/